{% extends 'base.html' %}

{% block content %}
    <div class="books">
        {% for book in book_list %}
            <div class="book">
                {% if book.embed_url %}
                    <a data-fancybox data-type="iframe" data-src="{{ book.embed_url }}" href="javascript:;">
                {% endif %}
                        <img alt="{{ book.author }} - {{ book.title }}" src="{{ book.cover_list.url }}" width="260" height="365"/>
                {% if book.embed_url %}
                    </a>
                {% endif %}
                <div class="description">
                    <div class="section">Przekład</div>
                    <div>{{ book.translator }}</div>
                    <div class="section">Tytuł oryginału i podstawa przekładu:</div>
                    <div>{{ book.original }}</div>
                    <div class="section">Wydanie {{ book.edition }}</div>
                    {% if book.isbn %}<div>ISBN {{ book.isbn }}</div>{% endif %}
                    {% if book.circulation %}<div>Nakład 500 + 100</div>{% endif %}
                    {% if book.price %}<div class="price">Cena minimalna {{ book.price }} PLN</div>{% endif %}
                    {% if book.store_id %}<div class="store">
                        <a href="http://www.bractwotrojka.pl/index.php?option=com_virtuemart&page=shop.product_details&product_id={{ book.store_id }}">[Do sklepu]</a>
                    </div>{% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="/?page={{ page_obj.previous_page_number }}">« Nowsze</a>
        {% endif %}
        {% if page_obj.has_previous and page_obj.has_next %}|{% endif %}
        {% if page_obj.has_next %}
            <a href="/?page={{ page_obj.next_page_number }}">Wcześniejsze »</a>
        {% endif %}
    </div>
{% endblock content %}
