body {
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    padding: 35px;
}

footer {
    text-align: center;
    padding: 25px 0;
}

footer a {
    margin: 0 30px;
}

nav {
    border-width: 1px 0;
    border-color: black;
    border-style: solid;

    font-size: 25px;
}

nav .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    max-width: 800px;
    margin: 0 auto;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 8px 24px;
}

nav a:hover {
    text-decoration: underline;
}

nav.bottom-navigation {
    margin-top: 50px;
}

/* Homepage */
.books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 24px;
    max-width: 1000px;
    margin: 0 auto;
}

.book {
    width: 260px;
    margin: 16px;
    margin-bottom: 36px;
    box-sizing: border-box;
}

.description {
    margin-top: 1em;
    font-size: 16px;
    line-height: 150%;
}

.description .section {
    font-weight: 700;
}

.description .price {
    font-weight: 700;
}

.description .store a {
    color: black;
    font-weight: 900;
    text-decoration: none;
    font-size: 22px;
}

.description .store a:hover {
    text-decoration: underline;
}

.pagination {
    text-align: center;
    margin-bottom: 24px 0;
    font-size: 20px;
}

.pagination a {
    text-decoration: none;
    color: black;
    padding: 0 8px;

}

.pagination a:hover {
    text-decoration: underline;
}
