{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Seria wydawnicza Tikn{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Seria „Tikn” powstaje we współpracy z Oficyną Wydawniczą Bractwa Trojka. Zamierzamy wydawać krótkie teksty, których autorki i autorzy nie zawsze deklarowali się  „anarchiści”, a jednak wiązało ich z anarchistycznym ideałem takie właśnie powinowactwo.">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet"  type="text/css"><link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Roboto:400,500,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin-ext" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'images/logo_szerokie.svg' %}" alt="TIKN" width="200" height="70"/></a>
    </header>
    <nav class="top-navigation">
        <a class="facebook" href="https://www.facebook.com/SeriaTikn">
            <img src="{% static 'images/facebook.svg' %}" alt="Facebook" width="30" height="30">
        </a>
        <div class="menu">
            {% for item in menu_items %}
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <nav class="bottom-navigation">
        <div class="menu">
            <a href="https://pomagam.pl/tikn">zbiórka na rozwój serii Tikn</a>
        </div>
    </nav>

    <footer>
        <a href="/"><img src="{% static 'images/logo.svg' %}" alt="Tikn" width="40" height="80"/></a>
        <a href="http://www.bractwotrojka.pl/"><img src="{% static 'images/trojka.png' %}" alt="Oficyna Bractwa Trojka" width="59" height="80"/></a>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>
