from .base import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'uqk2ev8i$nm2(*k3+9fh)=%gu#1og!oqtl$5^zt0y@xuw0ug&e'

# Database
# https://docs.djangoproject.com/en/1.10/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}
